<!--
Author: James Stacy
Author URL: http://www.JMSWebDesigns.com
-->
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- CSS - Replace # with relative path to .css stylesheet -->
    <!-- <link rel="stylesheet" href="#/reset.css"> -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
    <!-- <link rel="stylesheet" href="#"> -->

    <!-- Title Tag -->
    <title>Measurement Sheet Tracker</title>
</head>

<body>
    <div class="header">
        <h1>Measurement Sheet Tracker Landing Page</h1>
        <div class="topnav">
            <a class="active" href="#home">Home</a>
            <a href="#login">Login/Register</a>
            <a href="#viewAll">View My Measurement Sheets</a>
            <a href="#makeNew">Make A New Measurement Sheet</a>
        </div>
        <hr>
    </div>

    <div class="content">
        <h2>Welcome to the Measurement Sheet Tracking App!</h2>
        <br><br>
        <p>
            This Application should help you track all your measurement sheets.
            It'll do this by giving you access to all of them, and letting you find the ones you want by Client and/or Project name!
            **THIS IS GENERIC FILLER TEXT, AND WE WILL REPLACE IT FOR THE FINISHED APP**
            **THIS IS GENERIC FILLER TEXT, AND WE WILL REPLACE IT FOR THE FINISHED APP**
            **THIS IS GENERIC FILLER TEXT, AND WE WILL REPLACE IT FOR THE FINISHED APP**
            **THIS IS GENERIC FILLER TEXT, AND WE WILL REPLACE IT FOR THE FINISHED APP**
            **THIS IS GENERIC FILLER TEXT, AND WE WILL REPLACE IT FOR THE FINISHED APP**
        </p>
    </div>

    <div class="footer">
        <hr>
        <!-----start-copyright---->
        <div class="copy-right">
            <p> &copy; 2019 Measurement Sheet Tracker.</a></p>
        </div>
        <!-----//end-copyright---->
    </div>

    <!-- 
        I don't think I NEED any javascript on this page, but I'll keep an eye on it.
     -->

    <!-- Optional JavaScript and jQuery -->
    <!-- Full jQuery Tag - Uncomment to Use jQuery in your code
	<!-- <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script> -->
    <!-- 2x JavaScript Tags Open - Uncomment, and Replace # with relative path to JS Source Code -->
    <!-- <script src="#"></script> -->
    <!-- <script src="#"></script> -->
</body>

</html>