<!--
Author: James Stacy
Author URL: http://www.JMSWebDesigns.com
-->
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- CSS - Replace # with relative path to .css stylesheet -->
    <!-- <link rel="stylesheet" href="#/reset.css"> -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
    <!-- <link rel="stylesheet" href="#"> -->

    <!-- Title Tag -->
    <title>Measurement Sheet Tracker</title>
</head>

<body>
    <div class="header">
        <h1>Login or Create a Free Account!</h1>
        <div class="topnav">
            <a href="#home">Home</a>
            <a class="active" href="#login">Login/Register</a>
            <a href="#viewAll">View My Measurement Sheets</a>
            <a href="#makeNew">Make A New Measurement Sheet</a>
        </div>
        <hr>
    </div>

    <p>Lorem ipsum dolor sit amit,consetetur sadipscing eliter,sed diam voluptua.At vero eso et accusam et justo duo
        dolores et ea rebum. </p>
    <form>
        <ul class="register-form">
            <h2>New Account:</h2>
            <li>
                <input type="text" name="username" placeholder="Username" required />
                <div class="clear"> </div>
            </li>
            <li>
                <input type="email" name="email" placeholder="example@email.com" required />
                <div class="clear"> </div>
            </li>
            <li>
                <input type="password" name="password" placeholder="Password" required />
                <div class="clear"> </div>
            </li>
            <li>
                <input type="password" name="passCheck" placeholder="Password (Again)" required />
                <div class="clear"> </div>
            </li>
            <label class="checkbox">
                <input type="checkbox" name="checkbox" checked=""> Please inform me of
                upcoming Changes, Promotions, and News</label><br>
            <input type="submit" onclick="myFunction()" value="Create Account">
            <div class="clear"> </div>
        </ul>
        <ul class="login-form">
            <h3>Login:</h3>
            <div>
                <li><input type="text" placeholder="Username" required /></li>
                <li> <input type="password" placeholder="Password" required /></li>
                <!-- <h4>I forgot my Password!</h4> -->
                <input type="submit" onclick="myFunction()" value="Login">
            </div>
        </ul>
    </form>
    </div>

    <div class="footer">
        <hr>
        <!-----start-copyright---->
        <div class="copy-right">
            <p> &copy; 2019 Measurement Sheet Tracker.</a></p>
        </div>
        <!-----//end-copyright---->
    </div>

    <!-- 
        The Javascript for this page will either send a POST request to create a new User, or send a GET
        request to grab the User's login info to validate. I'll write that when I get to that part
    -->

    <!-- Optional JavaScript and jQuery -->
    <!-- Full jQuery Tag - Uncomment to Use jQuery in your code
	<!-- <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script> -->
    <!-- 2x JavaScript Tags Open - Uncomment, and Replace # with relative path to JS Source Code -->
    <!-- <script src="#"></script> -->
    <!-- <script src="#"></script> -->

    
    <!--CDN for Auth0-->
    <script src="https://cdn.auth0.com/js/auth0-spa-js/1.2/auth0-spa-js.production.js"></script>
</body>

</html>