.scroll {
  height: 900px;
  width: 90%;
  overflow: auto;
  border: 2px solid #132b52;
  padding-left: 50px;
  padding-right: 50px;
  color: #5558aa;
  margin: 0 auto;
  background-color: white;
}

.measurements {
  padding-left: 10vw;
  /* overflow: auto; */
  color: #5558aa;
}

/* .measurements::hover,
.measurements::focus {
  overflow-y: scroll;
} */

.models {
  height: 100%;
  border: 2px solid #132b52;
  /* margin-left: 15vw; */
  max-height: 900px;
}

/* label color */
.input-field label {
  color: red;
}
/* label focus color */
.input-field input[type="text"]:focus + label {
  color: #000;
}
/* label underline focus color */
.input-field input[type="text"]:focus {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}
/* valid color */
.input-field input[type="text"].valid {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}
/* invalid color */
.input-field input[type="text"].invalid {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}
/* icon prefix focus color */
.input-field .prefix.active {
  color: #000;
}

@media only screen and (max-width: 1000px) {
  .scroll {
    height: 100%;
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
  }

  .models {
    height: 100%;
    width: 100%;
    margin: 0 auto;
  }
}
