body {
  color: #8a0a0a;
}

header {
  background: url('../images/titlebg.jpg');
  background-size: cover;
  background-position: center;
  min-height: 500px;
  background-color: black;
}

.nav-wrapper {
  background-color: #8a0a0a;
}

.user-name {
  text-align: center;
}

p {
  font-size: 28px;
  text-align: center;
}

.printable {
  display: none;
}

/* Print Modal */
@media print {
  .screen {
    display: none;
  }
  .printable {
    display: block;
  }
}

@media screen and (max-width: 670px){
  header {
    background: none;
    min-height: 0px;
  }
}				

.width-200 {

height : 200px;
}

